.filter  
    &_type
        .filter__select
            width: 212px
            margin-bottom: 10px  

    &__export
        position: relative
        margin: 0 20px 0 0
        border-bottom: 1px dotted #f39c12
        font-size: 16px
        color: #f39c12
        cursor: pointer
        
        &:hover
            border-bottom: 1px solid transparent
            
        &:after
            content: ""
            position: absolute
            right: -20px
            height: 20px
            width: 20px
            background: url("../../img/csv-icon.png") no-repeat right
    
    &__left
        padding-bottom: 10px
        border-bottom: 1px solid #d2d6de
        margin-bottom: 10px

    &__right
        display: flex
        flex-grow: 1
        justify-content: space-between
        
        button
            margin-left: 15px
    
    &__item
        position: relative
        display: inline-block
        margin: 0 5px 5px 0
        align-items: center
        font-size: 16px
        background-color: #ecf0f5
        padding: 5px

        .filter__select,
        .input
            padding: 2px!important
            background: #fff !important
            border: 1px solid #bfbfbf !important
            height: auto !important
            line-height: 1 !important

        .input
            width: 40px!important
            padding: 2px 5px !important

        .filter__select
            width: 90px

        .button_remove
            position: absolute
            top: 5px
            right: 5px
            background: none
            color: #000

    &__title
        margin-right: 15px
        color: #000
        font-weight: bold
        font-size: 14px
        margin-bottom: 3px

    &__button
        width: 20px
        height: 20px
        margin-left: 10px
        
    &__submit
        display: flex
        justify-content: flex-end
    
    & .input
        position: relative
        padding: 3px 5px
        background: #ecf0f5
        border: none
        display: inline-block
        height: 26px

        line-height: 1.3

        input
            background-color: transparent
            border: 0
            outline: none
            font-size: 16px
            font-weight: normal

        &.date
            padding: 0
            background: transparent
            height: auto

            .input__title
                display: block
            
            span
                position: relative
                background: #ecf0f5
                border: none
                display: inline-block
        
                line-height: 1.3

                color: #74787b
                margin-bottom: 10px
                padding: 5px 10px
                cursor: pointer
    
    &__select
        width: 107px
        background: #ecf0f5
        border: none
        height: 28px

        @media (min-width: 1300px)
            width: 100px
            
    &__right
        margin-bottom: 10px
        
        select
            margin-right: 15px
            
        .input
            margin-left: 10px
            
            &:first-child
                margin-left: 0
            
    &__tab
        padding: 4px 10px
        display: inline-block
        background-color: #a1bece
        color: #000
        border: none
        border-right: 2px solid #377ca5
        cursor: pointer
        
        &:last-child
            border: none
            
        &.active
            background-color: #367fa9
            color: #fff
            
    .search
        .input
            margin: 0
            padding: 3px 10px
    .dropdown
        display: inline-block
        
        &-menu
            padding: 10px 10px
            border: 1px solid #ccc
            
            li
                margin-bottom: 10px
                
                &:last-child
                    margin-bottom: 0