#fixed-table-wrapper
    border: 1px solid #e0e0e0
    overflow: auto

table.table
    border: none !important
    margin-bottom: 0

    td, th
        padding: 4px
        border-collapse: collapse

    tfoot
        tr
            &.totals
                font-weight: 600
            td
                background: #e0e0e0
                border-bottom: none !important

                &:first-child
                    border-left: none

    thead th
        background: #e0e0e0
        font-weight: 600
        z-index: 2

        &:first-child
            border-left: none

        a
            color: gray
            text-align: center
            vertical-align: middle

    tbody td,
    tfoot td
        text-align: center
        vertical-align: middle

    tbody tr
        position: relative
        
        &:nth-child(odd)
            background-color: #f9f9f9

        &:hover
            background-color: #EFEFEF !important
            
        .fa-long-arrow-right
            font-size: 20px
            vertical-align: middle
            cursor: pointer
            
        [data-identifier]
            position: absolute
            left: 5px
            &:hover
                .fa-long-arrow-right
                    visibility: visible
                    
    thead
        z-index: 99
        
        th
            text-align: center
            
            &:nth-child(2)
                text-align: left

    tbody
        td:nth-child(2)
            text-align: left
            border-left: none
            
        .preview-link
            cursor: pointer
            