.box
    &-default
        margin-bottom: 0

.pagination
    margin: 0
    vertical-align: middle

    & > .active a
        background-color: $color-main
        border-color: $color-main

    &__info
        display: inline-block
        background-color: #fafafa

        float: right
        font-size: 0
        vertical-align: middle

        & > div
            display: inline-block
            line-height: 1.42857143
            vertical-align: middle
            font-size: 0

            &:last-child
                & > *:last-child
                    border-top-right-radius: 4px
                    border-bottom-right-radius: 4px

            &:first-child
                & > *:first-child
                    border-top-left-radius: 4px
                    border-bottom-left-radius: 4px

            & > *
                display: inline-block
                padding: 8px 12px 4px
                font-size: 14px
                border: 1px solid #ddd

            .active
                background-color: $color-main
                color: #fff
                border: 1px solid $color-main

.label
    padding: .4em .6em .3em