.daterangepicker
    background-color: #ebeef4
    border: 1px solid #ddd

    &:after
        border-bottom-color: #eee
    .ranges
        ul
            width: 130px

            li
                margin-bottom: 0
                padding: 5px 9px 5px

                background-color: transparent
                border: none
                color: $color-main
                font-weight: bold


                &:hover
                    background-color: $color-main
                    color: #fff

        .range_inputs
            padding: 10px 12px

    .calendar
        &.left
            margin-right: 5px !important

            .daterangepicker_input
                padding: 0

        &-table
            border-radius: 5px !important

        &-time
            text-align: left

            select
                border: 1px solid #c0c0c1
                border-radius: 2px
                background-color: #fff
                line-height: 1
                height: 25px
                width: 60px

            .glyphicon-time
                top: 5px
                font-size: 18px

    .btn
        background-color: $color-main
        padding: 7px 20px 6px
        color: #fff
        font-weight: bold
        line-height: 1
        border: none
        border-radius: 2px

        &.cancelBtn
            display: none

        &-success
            &:active
                &:focus
                    background-color: #367fa9

    .input-mini
        display: none

        & + .fa-calendar
            display: none