<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
</head>
<body class="skin-blue sidebar-mini sidebar-collapse">
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/style.css') }}">
{% endblock %}
<div class="wrapper">
    {% block header %}
        {{ include('::header.html.twig') }}
    {% endblock %}
    {% block sidebar %}
        {{ include('::sidebar.html.twig') }}
    {% endblock %}
    <div class="content-wrapper">
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}
        
        <section class="content" id="content">
            {% block body %}{% endblock %}
        </section>
    </div>
    {% block javascripts %}
        <script src="{{ asset('assets/app.js') }}"></script>
    {% endblock %}
</div>
</body>
</html>
