<input type="hidden" name="for" value="">
<div class="filter__right">
    <div>
        <div class="input date" id="compare-from">
            <b class="input__title">Period:</b>
            <span><i class="fa fa-caret-down color_blue" aria-hidden="true"></i>Period:</span>
        </div>

        <div class="input date" id="compare-to">
            <b class="input__title">Period to compare</b>
            <span><i class="fa fa-hand-pointer-o" aria-hidden="true"></i> Click to activate the comparison <i class="fa fa-caret-down color_blue" aria-hidden="true"></i></span>
        </div>
    </div>
    
    <div class="search">
        <b class="input__title">Search</b><br>
        <label for="search" class="input">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" id="search" name="search">
        </label>
        
    </div>
</div>
<hr>
<div class="filter__left">
    <h5><b>Options</b></h5>
    <div>
        <div class="filter_type" id="filter-type">
            <select class="filter__select js-filter-select">
                <option value="0">conversions</option>
                <option value="1">clicks</option>
                <option value="2">revenue</option>
                <option value="3">cost</option>
                <option value="4">profit</option>
                <option value="5">cpv</option>
                <option value="6">ctr</option>
                <option value="7">cr</option>
                <option value="8">cv</option>
                <option value="9">roi</option>
                <option value="10">ecpa</option>
                <option value="11">visits</option>
            </select>
            <button type="button" class="button button_add filter__button js-filter-add">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
        <div class="filter__container"></div>
    </div>
    <div class="filter__submit">
        <input type="submit" value="Apply filter">
    </div>
    
    
</div>