<header class="main-header">
    <a href="{{ path('homepage') }}" class="logo">
        <span class="logo-mini"><b>V</b>R</span>
        <span class="logo-lg">
            <img src="{{ asset('assets/images/logo-main.png') }}"/>
        </span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {#@todo var#}
                        <span class="hidden-xs">Profile</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            {#@todo var#}
                            {#<p>EMAIL</p>#}
                            <div class="form-group">
                                <label for="js-timezone-select">Select timezone</label>
                                <select class="form-control" name="timezone" id="js-timezone-select"></select>
                            </div>
                        </li>
                        <li class="user-footer">
                            <div class="pull-right">
                                <a href="{{ url('logout') }}"
                                   class="btn btn-default btn-flat">Sign out
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>