<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu tree" data-widget="tree">
            {#@todo class active#}
            <li>
                <a href="{{ path('report', {'for':getVoluumName(1)}) }}">
                    <i class="fa fa-crosshairs"></i>
                    <span>Campaigns</span>
                </a>
            </li>
            {#@todo class active#}
            <li>
                <a href="{{ path('report', {'for':getVoluumName(2)}) }}">
                <i class="fa fa-map"></i>
                    <span>Offers</span>
                </a>
            </li>
            {#@todo class active#}
            <li>
                <a href="{{ path('report', {'for':getVoluumName(3)}) }}">
                    <i class="fa fa-list-alt"></i>
                    <span>Landers</span>
                </a>
            </li>
            {#@todo class active#}
            <li>
                <a href="{{ path('report', {'for':getVoluumName(4)}) }}">
                    <i class="fa fa-globe"></i>
                    <span>Country</span>
                </a>
            </li>
            {#@todo class active#}
            <li>
                <a href="{{ path('report', {'for':getVoluumName(5)}) }}">
                    <i class="fa fa-wifi"></i>
                    <span>ISP/Carrier</span>
                </a>
            </li>
            {#@todo class active#}
            <li class="treeview">
                <a href="#"><i class="fa fa-edge"></i><i class="fa fa-angle-right"></i><span>Browser</span></a>
                <ul class="treeview-menu">
                    <li class="<?=($is_browser) ? 'active' : ''; ?>">
                        <a href="{{ path('report', {'for':getVoluumName(6)}) }}">
                            <i class="fa fa-file-text-o "></i>
                            <span>Browser</span>
                        </a>
                    </li>
                    <li class="<?=($is_browser_version) ? 'active' : ''; ?>">
                        <a href="{{ path('report', {'for':getVoluumName(7)}) }}">
                            <i class="fa fa-file-text"></i>
                            <span>Browser Version</span>
                        </a>
                    </li>
                </ul>
            </li>
            {#@todo class active#}
            <li class="treeview">
                <a href="#"><i class="fa fa fa-cogs"></i><i class="fa fa-angle-right"></i><span>OS</span></a>
                <ul class="treeview-menu">
                    <li class="<?=($is_os) ? 'active' : ''; ?>">
                        <a href="{{ path('report', {'for':getVoluumName(8)}) }}">
                            <i class="fa fa-server"></i>
                            <span>OS</span>
                        </a>
                    </li>
                    <li class="<?=($is_os_version) ? 'active' : ''; ?>">
                        <a href="{{ path('report', {'for':getVoluumName(9)}) }}">
                            <i class="fa fa-rocket"></i>
                            <span>OS Version</span>
                        </a>
                    </li>
                </ul>
            </li>
            {#@todo class active#}
            <li class="treeview">
                <a href="#"><i class="fa fa-laptop"></i><i class="fa fa-angle-right"></i><span>Device</span></a>
                <ul class="treeview-menu">
                    <li class="<?=($is_device) ? 'active' : ''; ?>">
                        <a href="{{ path('report', {'for':getVoluumName(10)}) }}">
                            <i class="fa fa-tablet"></i>
                            <span>Device</span>
                        </a>
                    </li>
                    <li class="<?=($is_brand) ? 'active' : ''; ?>">
                        <a href="{{ path('report', {'for':getVoluumName(11)}) }}">
                            <i class="fa fa-tag"></i>
                            <span>Brand</span>
                        </a>
                    </li>
                    <li class="<?=($is_model) ? 'active' : ''; ?>">
                        <a href="{{ path('report', {'for':getVoluumName(12)}) }}">
                            <i class="fa fa-star"></i>
                            <span>Model</span>
                        </a>
                    </li>
                </ul>
            </li>
            {#@todo class active#}
            <li>
                <a href="{{ path('report', {'for':getVoluumName(13)}) }}">
                    <i class="fa fa-bullseye"></i>
                    <span>Referrer domain</span>
                </a>
            </li>
            {#@todo class active#}
            {#@todo add action for conversion report#}
            {#<li>#}
                {#<a href="{{ path('report', {'for':getVoluumName(0)}) }}">#}
                    {#<i class="fa fa-dollar"></i>#}
                    {#<span>Conversions</span>#}
                {#</a>#}
            {#</li>#}
            {#@todo class active#}
            <li>
                <a href="{{ path('report', {'for':getVoluumName(14)}) }}">
                    <i class="fa fa-share"></i>
                    <span>Traffic Sources</span>
                </a>
            </li>
        </ul>
    </section>
</aside>