<div class="box box-default lastbox">
    <div class="box-header with-border">
        <h1 class="box-title">{% block report_title %}{% endblock %}</h1>
        <div class="box-tools pull-right">
            {% block badges %}{% endblock %}
        </div>
    </div>
    <div class="box-body ">
        {% block messages %}
        {% endblock %}
        {% block groups %}
        {% endblock %}
        {% block table %}
            <div id="fixed-table-wrapper">
                <table class="table table-bordered table-striped dataTable fixed-header">
                    <thead>
                    <tr>
                        {% block thead %}
                        {% endblock %}
                    </tr>
                    </thead>

                    <tbody>
                    {% block tbody %}
                    {% endblock %}
                    </tbody>
                    <tfoot>
                    <tr class="totals">
                        {% block tfooter %}
                        {% endblock %}
                    </tr>
                    </tfoot>

                </table>
            </div>
        {% endblock %}
    </div>
    <div class="box-footer">
        {% block pager %}
        {% endblock %}
    </div>
</div>
