{% extends 'report/reports/content.html.twig' %}

{% block report_title %}
    <strong>{{ params.for |capitalize }}</strong> report
{% endblock %}

{% block badges %}
    {% if params.filters %}
        <span class="label label-primary">Filters:</span>
    {% endif %}
    {% for filter, value in params.filters %}
        <span class="label label-default">{{ filter }}[ {{ value }} ]</span>
    {% endfor %}
    <span class="label label-primary">Groups:</span>
    <span class="label label-default">{{ params.for }}</span>
    {% for group in params.groupBy %}
        <span class="label label-default">{{ group }}</span>
    {% endfor %}
{% endblock %}

{% block messages %}
    {% for message in report.messages %}
        <div class="message">
            {{ message.code }} | {{ message.level }} | {{ message.message }}
        </div>
    {% endfor %}
{% endblock %}

{% block groups %}
    <form action="" method="GET" class="filter">
        {% block filter %}
            {{ include('::filter.html.twig') }}
        {% endblock %}
        <div>
            {% for voluumName, schemeName in report.rows[0].getVoluumGroups %}
                <div class="filter__tab" data-voluum-name="{{ voluumName }}">{{ schemeName }}</div>
            {% endfor %}
            <div class="dropdown">
                <button class="filter__tab" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li>item 1</li>
                    <li>item 2</li>
                </ul>
            </div>
            
        </div>

    </form>
{% endblock %}

{% block thead %}
    <th></th>
    {% for field in report.rows[0].getColumns %}
        <th>
            {{ field }}
        </th>
    {% endfor %}
{% endblock %}

{% block tbody %}
    {% for row in report.rows %}
        <tr
                {% if row.hasIdentifier %}
                    data-identifier="{{ attribute(row, row.getIdentifier) }}"
                    data-model="{{ row.getIdentifier }}"
                {% endif %}

                {% if row.hasSecondIdentifier %}
                    {% if attribute(row, row.getIdentifier) != attribute(row, row.getSecondIdentifier) %}
                        data-identifier2="{{ attribute(row, row.getSecondIdentifier) }}"
                        data-model2="{{ row.getSecondIdentifier }}"
                    {% endif %}
                {% endif %}
        >
            <td></td>
            {% for field in row.getColumns|keys %}                
                {% if field != "cpv" %}
                    {%  set value = attribute(row, field) %}
                    <td {% if field == "profit" and value < 0 %}class="color_red"{% endif %} 
                               {% if field == "profit" and value > 0 %}class="color_green"{% endif %}
                    >
                        {% if is_numeric(value) %} 
                            {{ value|round(2) }} 
                        {% else %} 
                            {{ value }} 
                        {% endif %}</td>
                {% else %}
                    <td>{{ value }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
{% endblock %}

{% block tfooter %}
    <td></td>
    {% for field in report.rows[0].getColumns|keys %}
        <td>
            {% set value = attribute(report.totals, field) is defined ?  attribute(report.totals, field) : ''  %}
            {% if field != 'cpv' and is_numeric(value) %}
                {{ value|round(2) }}
            {% else %}
                {{ value }}
            {% endif %}
            
        </td>
    {% endfor %}
{% endblock %}

{% block pager %}
    {% set totalPages = (report.totalRows / report.limit) |round(0, 'ceil') %}
    {% set limitPagesPerSide = 4 %}

    <ul class="pagination">
        {% if totalPages >= (2*limitPagesPerSide) %}
            {% if page > limitPagesPerSide %}
                {% for num in (page-limitPagesPerSide)..(page-1) %}
                    <li class="paginate_button" data-page="{{ num }}">
                        <a>{{ num }}</a>
                    </li>
                {% endfor %}
            {% elseif page > 1 %}
                {% for num in 1..(page-1) %}
                    <li class="paginate_button" data-page="{{ num }}">
                        <a>{{ num }}</a>
                    </li>
                {% endfor %}
            {% endif %}

            {% for num in page..(page+limitPagesPerSide) %}
                {% if num==page %}
                    <li class="paginate_button active" data-page="{{ num }}">
                        <a>{{ num }}</a>
                    </li>
                {% else %}
                    <li class="paginate_button" data-page="{{ num }}">
                        <a>{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for num in 1..totalPages %}
                {% if num==page %}
                    <li class="paginate_button active" data-page="{{ num }}">
                        <a>{{ num }}</a>
                    </li>
                {% else %}
                    <li class="paginate_button" data-page="{{ num }}">
                        <a>{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>
    <div class="pagination__info">
        <div>
            <span class="active">Total pages:</span><span>{{ totalPages }}</span>
        </div>
        <div>
            <span class="active">Total rows:</span><span>{{ report.totalRows }}</span>
        </div>
        <div>
            <span class="active">Limit:</span><span>{{ report.limit }}</span>
        </div>
    </div>
    
{% endblock %}