{% extends 'report/reports/content.html.twig' %}

{% block report_title %}
    <strong>{{ params.for |capitalize }}</strong> report
{% endblock %}

{% block badges %}
    {% if params.filters %}
        <span class="label label-primary">Filters:</span>
    {% endif %}
    {% for filter, value in params.filters %}
        <span class="label label-default">{{ filter }}[ {{ value }} ]</span>
    {% endfor %}
    <span class="label label-primary">Groups:</span>
    <span class="label label-default">{{ params.for }}</span>
    {% for group in params.groupBy %}
        <span class="label label-default">{{ group }}</span>
    {% endfor %}
{% endblock %}

{% block table %}
    <span>Try change filters or groups. Voluum has no data on this request.</span>
{% endblock %}