{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/style.css') }}">
{% endblock %}

{% block body %}
    <form action="{{ path('login') }}" method="post">
        <label for="secret">Enter secret</label><br>
        <input type="password" name="secret" id="secret" class="input">
        <input type="submit" id="submit" value="Enter">
    </form>
{% endblock %}

{% block header %}
    <header class="main-header">
        <a href="{{ path('homepage') }}" class="logo">
            <span class="logo-mini"><b>V</b>R</span>
            <span class="logo-lg">
                <img src="{{ asset('assets/images/logo-main.png') }}"/>
            </span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation"></nav>
    </header>
{% endblock %}

{% block sidebar %}{% endblock %}



