.content
    padding: 10px
    
    &-header
        padding: 0
        margin: 0.25em 0 0.5em
        font-size: 2em
        font-weight: bold
       
    &-wrapper
        position: relative 
            
input,
textarea,
select
    padding: 1px
    background-color: #fff
    font-size: 14px
    line-height: 1
    
hr
    margin: 0

[type="submit"]
    background-color: $color-main!important
    padding: 10px 15px 8px!important
    color: #fff!important
    font-weight: bold!important
    line-height: 1!important
    border: none
    border-radius: 2px
    
    &:hover
        background-color: lighten($color-main, 5%)!important
    
    &:active
        background-color: darken($color-main, 5%)!important


.pagination
    margin: 10px 0 0
        
    a
        cursor: pointer
    
/* Служебные классы
button
    &.button
        border: none
        border-radius: 2px
        color: #fff
        padding: 0
        
        &_remove
            background: #e81743
            
        &_add
            background: #39b54a
            padding: 2px 0 0 0

.dash
    display: inline
    text-align: center
    padding: 0 4px
    
    &:before
        content: "\2013"
        color: $color-main

.full-width
    width: 100%
    
.color
    &_blue
        color: $color-main
    &_red
        color: #FF6840
    &_green
        color: #2BAB63