{% set
    errors = {
        401: 'Для доступа к запрашиваемому ресурсу требуется аутентификация (попробуйте перезайти)',
        403: 'У Вас нет прав для совершения данной операции',
        404: 'Данный ресурс не был найден'
    }
%}

{% block body %}
    <h1>Error</h1>
    <p>
        {{ report.error.code }}
        <span> | </span>
        {% if not report.error.description %}
            {{ errors[report.error.code] }}
        {% else %}
            {{ report.error.description }}
        {% endif %}
    </p>
    <div>
        {% for message in report.error.getMessages %}
            <p>
                {{ message }}
            </p>
        {% endfor %}
    </div>
    <div>
        <h3>Request</h3>
        {{ report.reportRequest }}
        <h4>Token</h4>
        {{ report.voluumToken }}
    </div>
{% endblock %}